<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Hi, I'm Tritia</h2>
                <h2 class="emphasis">I am a Software Engineer</h2> 
                <h2 class="emphasis">and aspiring UX Designer.</h2>
                <h3>Currently looking for a full time role</h3>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/portfolio.html" class="button big special">View My Work</a></li>
                    <li><a href="mailto:tritialtimmins@gmail.com?Subject=Let's%20chat" class="button big alt">Contact Me</a></li>
                </ul>

            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
